body{
  background: hsl(218, 23%, 16%) !important;
  font-family: Manrope, 'Times New Roman', Times, serif !important;
}

h5{
  color: hsl(150, 100%, 66%) !important;
}

.bor{
  border: 1px solid hsl(217, 19%, 24%) !important;
  background-color: hsl(217, 19%, 24%)!important;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px !important;
  

}

p{
  color: hsl(193, 38%, 86%) !important;
  font-size: 28px !important;
  font-weight: 400 !important;
}

.dice2{
  border-radius: 50% !important;
  border: 10px solid hsl(150, 100%, 66%) !important;
  background: hsl(150, 100%, 66%) !important;
  cursor:  pointer !important;
  
}

.dice:hover{
  box-shadow:  hsl(150, 100%, 66%) 0 0 30px 3px;
}

@media screen and (max-width: 500px) {
  .bor{
    width: 95vw !important;
    

  
  }
}

